<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.BookPageModel"-->
<!--@thymesVar id="model2" type="org.softwire.training.bookish.models.page.LibraryPageModel"-->

    <head>
        <title>Bookish - Book</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/library.css"/>
    </head>

    <body>
    <div th:replace="fragments/navbar :: navbar">
        <!-- This element is replaced by the HTML in fragments/navbar.html -->
    </div>

    <div class="container">
        <h2 th:text="${model.getTitle()}"></h2>

            <form th:action="${'/library/book/add-copy?idLibrary=' + model.getSpecificBooks().get(0).getIdLibrary()}" method="post">
                <div class="add-book-row">
                    <span><!-- spacer --></span>
                    <input type="submit" value="Add Copy" />
                </div>
            </form>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Library ID</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${model.getSpecificBooks()}">
                        <td th:text="${book.getIdBooks()}"></td>
                        <td th:text="${book.getIdLibrary()}"></td>
                        <td><a th:href="${'/library/book/delete-copy?idBooks=' + book.getIdBooks()}" class="delete-button">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Edit this book:</h2>
        <form th:action="@{/library/edit-book}" method="post">
            <div class="add-book-row">
                <input th:value="${model.getSpecificBooks().get(0).getIdLibrary()}" type="text" name="idLibrary" hidden>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Title: </span>
                    <input type="text" name="bookTitle">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>Author: </span>
                    <input type="text" name="bookAuthor">
                </label>
            </div>
            <div class="add-book-row">
                <label>
                    <span>ISBN: </span>
                    <input type="text" name="ISBN">
                </label>
            </div>
            <div class="add-book-row">
                <span><!-- spacer --></span>
                <input type="submit" value="Update Book" />
            </div>
        </form>

    </div>

    </body>
</html>

